// {
//   "presets": [
//     "@babel/preset-env",
//     "@babel/preset-react"
//     // ["@babel/preset-react", { "runtime": "automatic" }]
//   ]
// }

{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [["@babel/transform-runtime"]]
}
